/* Add CSS Styling */
.odd {
    background-color: hsl(350, 100%, 88%);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
    color: RGBA(0, 0, 255, 1);
    font-size: 36px;
}

.three-four {
    font-size: 24px;
}

#fourth {
    background-color: #80FF90;
    font-weight: bold;
}