* {
  font-family: sans-serif;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

body {
  background: #eee;
  padding: 15px 10px 10px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  display: block;
  padding: 5px 20px;
  background: white;
  border: 1px solid #eee;
  margin: auto;
}